absl-py==0.9.0
argon2-cffi==20.1.0
astor==0.8.1
attrs==19.3.0
backcall==0.2.0
bleach==1.5.0
cffi==1.14.1
chardet==2.3.0
cheese==0.1.0
cmake==3.18.0
decorator==4.4.2
defusedxml==0.6.0
distro==1.5.0
entrypoints==0.3
gast==0.4.0
grpcio==1.31.0
html5lib==0.9999999
importlib-metadata==1.7.0
imutils==0.5.3
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
Markdown==3.2.2
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.1
numpy==1.19.1
opencv-python==4.3.0.38
packaging==20.4
pafy==0.5.5
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.6
protobuf==3.12.4
ptyprocess==0.6.0
pycparser==2.20
pycurl==7.43.0
Pygments==2.6.1
pygobject==3.20.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-apt==1.1.0b1+ubuntu0.16.4.9
python-dateutil==2.8.1
pyzmq==19.0.2
qtconsole==4.7.5
QtPy==1.9.0
requests==2.9.1
scikit-build==0.11.1
Send2Trash==1.5.0
six==1.10.0
ssh-import-id==5.5
tensorboard==1.8.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
unattended-upgrades==0.1
urllib3==1.13.1
wcwidth==0.2.5
Werkzeug==1.0.1
widgetsnbextension==3.5.1
youtube-dl==2020.7.28
zipp==3.1.0

